body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
}

li,
a {
  text-decoration: none;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-studio {
  color: #2e2f42;
}
.nav-container {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.nav-link {
  color: #2e2f42;
}
.contacts {
  font-style: normal;
}
.contact {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.contact:hover,
.contact:focus {
  color: #4d5ae5;
}
.headline {
  background-color: #2e2f42;
}
.heading-main {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.button {
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
.paragraph {
  font-size: 16px;
}
.heading {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-container {
  background-color: #f4f4fd;
}
.team-card {
  background-color: #ffffff;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.footer {
  background-color: #2e2f42;
}
.paragraph-footer {
  color: #f4f4fd;
}
.logo-footer {
  color: #f4f4fd;
}
